<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="col-xl-2">
    <div class="elementor-widget-container">
        <h5>Funding Opportunities</h5>


        <div id="news-container_5121" class="news-container"
             style="visibility: visible; overflow: hidden; position: relative; height: 250px;">
            <ul style="position: absolute; margin: 0px; padding: 0px; top: 0px;" id="sliderUL">

            </ul>
        </div>
    </div>

    <div class="elementor-widget-container">
        <h5>Call for Papers</h5>


        <div id="news-container_callForPaper" class="news-container"
             style="visibility: visible; overflow: hidden; position: relative; height: 250px;">
            <ul style="position: absolute; margin: 0px; padding: 0px; top: 0px;" id="sliderULCallForPaper">

            </ul>
        </div>
    </div>
</div>
</body>
</html>