<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="col-xl-2">
    <div class="elementor-widget-container">
        <h5>Funding Opportunities</h5>


        <div id="fundingList" class="newslist">
            <div class="items" id="fundingListItems">

            </div>
            <div class="controls" ></div>
        </div>
    </div>

    <div class="elementor-widget-container">
        <h5>Call for Papers</h5>


        <div id="paperlist"  class="newslist">
            <div class="items" id="paperlistItems">

            </div>
            <div class="controls" ></div>
        </div>
    </div>



</div>
</body>
</html>