<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="col-xl-2">
    <div class="elementor-widget-container">
        <h5>Workshops/Trainings</h5>


        <div id="news-container_workshop" class="news-container"
             style="visibility: visible; overflow: hidden; position: relative; height: 250px;">
            <ul style="position: absolute; margin: 0px; padding: 0px; top: 0px;" id="sliderULWorkshop">

            </ul>
        </div>
    </div>

    <div class="elementor-widget-container">
        <h5>Internship Opportunities</h5>


        <div id="news-container_internship" class="news-container"
             style="visibility: visible; overflow: hidden; position: relative; height: 250px;">
            <ul style="position: absolute; margin: 0px; padding: 0px; top: 0px;" id="sliderULInternship">

            </ul>
        </div>
    </div>
    <div class="elementor-widget-container">
        <h5>Consultancy Opportunities</h5>


        <div id="news-container_consultancy" class="news-container"
             style="visibility: visible; overflow: hidden; position: relative; height: 250px;">
            <ul style="position: absolute; margin: 0px; padding: 0px; top: 0px;" id="sliderULConsultancy">

            </ul>
        </div>
    </div>

</div>
</body>
</html>