<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="col-xl-2">

    <div class="elementor-widget-container">
        <h5>Workshops/Trainings</h5>


        <div id="workshoplist"  class="newslist">
            <div class="items" id="workshoplistItems">

            </div>
            <div class="controls" ></div>
        </div>
    </div>

    <div class="elementor-widget-container">
        <h5>Internship Opportunities</h5>


        <div id="internshiplist"  class="newslist">
            <div class="items" id="internshiplistItems">

            </div>
            <div class="controls" ></div>
        </div>
    </div>

    <div class="elementor-widget-container">
        <h5>Consultancy Opportunities</h5>


        <div id="consultancylist"  class="newslist">
            <div class="items" id="consultancylistItems">

            </div>
            <div class="controls" ></div>
        </div>
    </div>


</div>
</body>
</html>